data-manipulation/dataset/dataset_cleaned.csv
data-manipulation/dataset/dataset.csv
data-manipulation/dataset/dataset.parquet
.vscode
.env
acf-analysis/__pycache__/
outputs/
webapp/memory
webapp/static/reports
webapp/__pycache__/
golden_results/data
golden-standard/gold-sample/
acf_diffs.json