data-manipulation/dataset/dataset_cleaned.csv
data-manipulation/dataset/dataset.csv
data-manipulation/dataset/dataset.parquet
.vscode
.env
acf-analysis/__pycache__/
outputs/
golden_results/data
golden-standard/gold-sample/